extends layouts/main 

block content
    .form-container
        form(action=`/users${routes.editProfile}`, method="post")
            label(for="avatar") Avatar
            input(type="text", placeholder="NickName")
            input(type="email" placeholder="Email")
            input(type="submit" value="Update Profile")
        a.from-container__link(href=`/users${routes.changePassword}`) Change Password