header.header
    .header__column
        a(href=routes.home)
            h1 Mini Chat 8080
    .header__column
        ul
            li
                a(href=routes.join) Join 
                a(href=routes.login) Log in