

.chat-input-form, .gif-input-form, .gifBtn{
    display: none;
}

ul {
    margin : 0;
    width: 300px;
    list-style: none;
}

.chat_container_other{
    
}

.chat_container_me{
    background-color: beige;
    display: flex;
    justify-content: flex-end;
    
}

.chat_nick {
    margin-right: 20px;
    font-size: 5px;
}