doctype html
html
    head
        title MiniChat 8080

    body 
        header
            h1 MiniChat 8080 
        main
            block content
        footer
            span &copy; MiniChat 8080